* {
            margin: 0;
        }

        .header {
            height: 150px;
            background: linear-gradient(90deg,#000000 44%, #0166FF 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 4px 10px 2px rgba(0,0,0, 0.4);
            transform: translateY(-100%);
            animation: slideDown 1s ease-out forwards;
        }

        @keyframes slideDown {
            0% {
                transform: translateY(-100%);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .header-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .header-text {
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-weight: 700;
            font-size: 20px;
        }

        .nav-links {
            display: flex;
            list-style: none;
            flex-direction: row;
            margin-left: -59px;
            gap: 60px;
            font-size: 18px;
        }

        .nav-links a {
            text-decoration: none;
            color: white;
            font-family:'Montserrat', sans-serif;
            font-weight: 700;
        }

        .nav-links a:hover {
            color: #0166FF;
            transition: 0.2s ease-out;
        }

        .nav-links a:not(:hover) {
            transition: 0.2s ease-out;
        }

        li:hover{
            transform: scale(1.05);
            transition: transform 0.2s ease-out;
        }

        li:not(:hover) {
            transition: transform 0.2s ease-out;
        }

        body {
            display: flex;
            flex-direction: column;
            background-color: #121212;
            overflow-x: hidden;
        }

        #project-text {
            opacity: 0;
            animation: fadeIn 0.8s ease-out forwards;
            animation-delay: 0.8s;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .h1-texts {
            justify-content: center;
            display: flex;
            color: #3883f3;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 18px;
            margin: 20px;
        }

        .projects {
            justify-content: center;
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        .project {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            display: flex;
            flex-direction: column;
            background-color: #171717;
            gap: 15px;
            border: 20px solid #171717;
            border-radius: 10px;
            box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.3);
            width: 1000px;
            opacity: 0;
            transition: all 0.8s ease-out;
            filter: blur(5px);
            transition-delay: 1s;
        }

        .project:nth-child(odd) {
            transform: translateX(-100px);
        }

        .project:nth-child(even) {
            transform: translateX(100px);
        }

        .project.appear {
            opacity: 1;
            transform: translateX(0);
            filter: blur(0);
        }

        .project.appear:hover {
            transform: scale(1.02);
            transition: transform 0.2s ease-out;
        }

        #logorevealvid {
            transition-delay: 1.5s;
            transition: all 0s ease-out;
            opacity: 0;
            animation: fadeIn 0.8s ease-out forwards;
            animation-delay: 0.8s;
        }

        #logorevealvid:hover {
            transform: scale(1.02);
            transition: transform 0.2s ease-out;
        }

        #logorevealvid:not(:hover) {
            transition: transform 0.2s ease-out;
        }

        @keyframes logoreveal {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .h2-texts {
            justify-content: center;
            display: flex;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-size: 16px;
        }

        .videos {
            display: flex;
            justify-content: center;
        }

        video {
            height: 540px;
            border-radius: 10px;
        }

        .p-texts {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 1000px;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 18px;
        }

        .photos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }

        .photos img {
            width: 100%;
            display: block;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.2);
        }

        img:hover {
            transform: scale(1.02);
            transition: transform 0.2s ease-out;
            z-index: 0;
        }

        img:not(:hover) {
            transition: transform 0.2s ease-out;
        }

        .gallery img:nth-child(1),
        .gallery img:nth-child(2) {
            aspect-ratio: 1 / 1;
        }

        .gallery img:nth-child(3),
        .gallery img:nth-child(4),
        .gallery img:nth-child(5) {
            grid-column: 1 / -1;
            aspect-ratio: 16 / 9;
        }

        .gallery {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            opacity: 0;
            transform: translateY(30px);
            transition: opacity 0.8s ease-out, transform 0.8s ease-out;
        }

        .gallery.appear {
            opacity: 1;
            transform: translateY(0);
        }

        .author-texts {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
        }

        .creative {
            border: 10px solid #171717;
            border-radius: 10px;
            box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.2);
            background-color: #171717;
            margin-left: auto;
            margin-right: auto;
        }

        .nickname {
            border: 10px solid #171717;
            border-radius: 10px;
            box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.2);
            background-color: #171717;
            margin-left: auto;
            margin-right: auto;
        }

        .creative:hover {
            transform: scale(1.02);
            transition: transform 0.2s ease-out;
        }

        .nickname:hover {
            transform: scale(1.02);
            transition: transform 0.2s ease-out;
        }

        .creative:not(:hover) {
            transition: transform 0.2s ease-out;
        }

        .nickname:not(:hover) {
            transition: transform 0.2s ease-out;
        }

        #h2-texts-author {
            margin-bottom: 5px;
        }

        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            height: 130px;
            background-color: #0F0F0F;
            box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.3);
        }

        #footer-menu {
            gap: 30px;
            margin-top: 5px;
        }

        #telegram-link a {
            text-decoration: none;
            color: white;
        }

        #telegram-link a:hover {
            text-decoration: none;
            color: #3883f3;
            transition: 0.2s ease-out;
        }

        #telegram-link a:not(:hover) {
            transition: 0.2s ease-out;
        }

        .footer-links a {
            text-decoration: none;
            color: white;
            font-family:'Montserrat', sans-serif;
            font-weight: 700;
        }

        .footer-links a:hover {
            transform: scale(1.02);
            transition: transform 0.2s ease-out;
        }

    

        @media (max-width: 1100px) {
            .project {
                width: 90%;
                max-width: 800px;
                border-width: 15px;
            }
            
            .p-texts {
                width: 95%;
                font-size: 16px;
            }
            
            video {
                height: auto;
                width: 100%;
                max-height: 480px;
                object-fit: cover;
            }
            
            .gallery {
                width: 90%;
                max-width: 800px;
            }
            
            .nav-links {
                gap: 40px;
                margin-left: 0;
                padding: 0;
            }
        }
        
        @media (max-width: 768px) {
        
            
            .nav-links {
                font-size: 12px;
                display: flex;
                padding: 0px;
                gap: 20px;
            }
        
            
            .header {
                height: 100px;
            }
            
            .header-text h1 {
                font-size: 24px;
            }
            
            .header-menu {
                gap: 20px;
            }
            
            .project {
                width: 90%;
                border-width: 12px;
                gap: 12px;
            }
            
            .project:nth-child(odd),
            .project:nth-child(even) {
                transform: translateX(0);
            }
            
            .h2-texts {
                font-size: 14px;
            }
            
            .h2-texts h2 {
                font-size: 1.4rem;
            }
            
            .p-texts {
                font-size: 14px;
                width: 98%;
            }
            
            video {
                width: 100%;
                height: auto;
                max-height: 300px;
            }
            
            /* Галерея */
            .gallery {
                width: 90%;
            }
            
            .photos {
                gap: 12px;
            }
            
            .nickname, .creative {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
            
            .author-texts {
                gap: 15px;
            }
            
            footer {
                height: auto;
                padding: 20px 0;
            }
            
            #footer-menu {
                flex-direction: column;
                gap: 15px;
                text-align: center;
            }
            
            #footer-links {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 25px;
                margin: 0;
                padding: 0;
            }
            
            #footer-links li {
                margin: 0;
            }
            
            #copyright-text {
                font-size: 12px;
                width: 100%;
            }
            
            /* Заголовки */
            .h1-texts h1 {
                font-size: 1.8rem;
            }
            
            .h1-texts {
                margin: 15px;
            }
        }
        
        @media (max-width: 480px) {
            .project {
                width: 95%;
                border-width: 10px;
            }
            
            .h2-texts h2 {
                font-size: 1.2rem;
            }
            
            .p-texts {
                font-size: 13px;
            }
            
            video {
                max-height: 220px;
            }
            
            .photos {
                grid-template-columns: 1fr;
                gap: 12px;
            }
            
            .gallery img:nth-child(1),
            .gallery img:nth-child(2) {
                aspect-ratio: 16 / 9;
            }
            
            .gallery {
                width: 95%;
            }
            
            .nickname, .creative {
                width: 95%;
                border-width: 8px;
            }
            
            #footer-links {
                gap: 15px;
                flex-wrap: wrap;
            }
            
            #footer-links li a {
                font-size: 12px;
            }
            
            .header-text h1 {
                font-size: 20px;
            }

            .nav-links {
                gap: 30px;
                padding: 0px;
                
            }
            

        }
        
        @media (hover: hover) {
            .project.appear:hover {
                transform: scale(1.02);
            }
        }
        
        @media (max-width: 900px) and (orientation: landscape) {
            .header {
                height: 80px;
            }
            
            .nav-links {
                gap: 30px;
                padding: 0;
            }
            
            video {
                max-height: 280px;
            }
            
            .project {
                gap: 10px;
            }
        }